<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.kalengo.toast"
      version="0.1.0">
    <name>Calendar</name>
    <description>Sample PhoneGap Toast Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,toast</keywords>


    <js-module src="www/toast.js" name="Toast">
        <clobbers target="window.toast" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Toast">
                <param name="android-package" value="org.kalengo.toast.Toast"/>
            </feature>
        </config-file>

        <source-file src="src/android/Toast.java" target-dir="src/org/kalengo/toast" />      
     </platform>          
</plugin>